/* Set a custom font */
body {
  font-family: 'Roboto', sans-serif;
}
.Home_main__zgAJj{
  padding: 0 !important;
  align-items: stretch !important;
}
/* Styling for banner section */
.hfnbanner_wrapper {
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;}

.hfnbanner_wrapper::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hfnbanner_wrapper h4 {
  font-size: 3rem;
  color: white;
  text-align: center;
}

.hfnbanner_wrapper p {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

/* Styling for content describe section */
.content_describe_wrapper {
  margin-top: 5rem;
}

.content_describe_wrapper p {
  font-size: 1.25rem;
  color: black;
  line-height: 1.5;
}

.content_describe_wrapper__child_element {
  margin-top: 2.5rem;
}

.content_describe_wrapper__child_element img {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

/* Styling for about section */
.title_heading_wrapper {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 2rem;
}

.content_paragraph {
  font-size: 1.25rem;
  color: black;
  line-height: 1.5;
}

/* Add a background color and center the content */
// .raw-html-embed {
//   display: flex;
//   justify-content: center;
// }

/* Add some margin and padding to the section */
#about-smsf {
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

/* Style the section title */
.title_heading_wrapper {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Style the section subtitle */
.title_heading_wrapper__mini_heading {
  font-size: 24px;
  font-weight: bold;
  color: #666;
  margin-bottom: 20px;
}

/* Style the paragraphs */
.content_paragraph {
  font-size: 18px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Style the links */
a {
  color: #FF6F61;
  text-decoration: underline;

  &:hover {
    color: inherit;
  }
}

/* Style the list items */
li {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

/* Style the image */
img {
  max-width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Media query for small screens */
@media (max-width: 768px) {
  #about-smsf {
    padding: 30px;
  }
  
  .title_heading_wrapper {
    font-size: 24px;
  }
  
  .title_heading_wrapper__mini_heading {
    font-size: 20px;
  }
  
  .content_paragraph {
    font-size: 16px;
  }
  
  li {
    font-size: 16px;
  }
}
/* Footer */
.footer-wrapper {
  padding: 5rem;

}

/* Footer section */
.footer-section {
  padding-top: 20px;
  background-color: #f8f9fa;
}

/* Logo section */
.logo-section {
  h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .footer-desc {
    margin-bottom: 1.5rem;
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: inherit;
    }
  }
}

/* Quick links */
.quick-links {
  h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 1rem;
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

/* Contact section */
.contact {
  h5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  .p-quote {
    margin-bottom: 1.5rem;
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: inherit;
    }
  }
}

/* Social icons */
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-right: 1.5rem;
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  .bi {
    display: inline-block;
    font-size: 2rem;
    vertical-align: middle;
  }

  .bi-facebook {
    color: #3b5998;
  }

  .bi-twitter {
    color: #00acee;
  }

  .bi-youtube {
    color: #cd201f;
  }

  .bi-instagram {
    color: #c13584;
  }
}

/* Copyright section */
.bg_dark_grey {
  background-color: #343a40;
}

.copy-rights-row {
  color: #fff;
}

.a-tag {
  color: #fff;
  text-decoration: underline;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
